{% extends 'base.html' %}

{% block contents %}
<!-- 로그인한 사람들이 글을 쓸 수 있는 게시판-->
<body>
    <div class="text-center">
        <h1>Edit</h1>
        <h5>방명록/안부글 수정하기</h5>
    </div>

    <div class="text-center">
        <form action="{% url 'update' visit.id %}" method="POST">
            {%csrf_token%}
            <p>글 제목<br> <input type="text" name="title" value="{{visit.title}}"></p>
             <!--비밀번호 맞아야 수정가능 하도록 만들기-->
            <!--<p>글 비밀번호<br> <input type="password" name="password"></p>-->
            내용<br> <textarea name="body" id="" cols="70" rows="20" value="{{visit.body}}"></textarea><br>
            <br> <button class="btn btn-dark" type="submit">수정 등록</button>
        </form>
    </div>

    
</body>
{% endblock %}